Source: automydumper
Section: admin
Priority: extra
Maintainer: Bart Verwilst <bart@verwilst.be>
Build-Depends: debhelper (>= 9), dctrl-tools
Standards-Version: 3.9.5

Package: automydumper
Architecture: all
Depends: ${misc:Depends}, mydumper (>= 0.9), gawk, bash
Recommends: heirloom-mailx
Description: Daily backups for your MySQL server, backed by Mydumper
